<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SellSaathi - Product List</title>
    <link th:href="@{/list.css}" rel="stylesheet" />
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <a href="/" class="navbar-brand">
        <span class="logo">SellSaathi</span>
    </a>
    <div class="navbar-actions">
        <a href="/products/create" class="create-product-btn">Create New Product</a>
    </div>
</nav>

<h1>Product List</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">

        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <img th:src="${product.images != null ? '/products/image/'+ product.id : '' }" alt="Product Image">
        </td>
        <td>
            <a th:href="">Edit</a>
            <a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>